MAIL_HOST=host
MAIL_PORT=port
MAIL_USERNAME=mail
MAIL_PASSWORD=pass

POSTGRES_PASSWORD=password
POSTGRES_USERNAME=username

MERCADO_SECRET=secretkey
ACCESS_TOKEN_EXPIRATION=time
REFRESH_TOKEN_EXPIRATION=time